- hello

In [ ]:
name = "abhi"
print("name",name)

name abhi

basic syntax rules

In [ ]:
print("hello world") #function call
x = 5 #variable assignment
y = 10

hello world

numeric types

In [ ]:
age = 25
height = 5.9
complex_num = 2 + 4j

string type

In [ ]:
name ="alice"
message ="hello world"

boolean type

type checking

In [ ]:
print(type(age))
print(type(height))
print(type(name))

type(age)

In [ ]:
int

int

type conversion

In [ ]:
str_number = "123"
int_number = int(str_number)
float_number = float(str_number)
print(f"orignal: {str_number} (type: {type(str_number)})")
print(f"orignal: {int_number} (type: {type(int_number)})")
print(f"orignal: {float_number} (type: {type(float_number)})")

orignal: 123 (type: <class 'str'>)
orignal: 123 (type: <class 'int'>)
orignal: 123.0 (type: <class 'float'>)

personal infomartion

In [ ]:
first_name = "vrushabh"
last_name = "dandin"
age = 22
height = 5.9
is_student = True

print formated information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height: {height}")
print(f"Is Student: {is_student}")

Name: vrushabh dandin
Age: 22
Height: 5.9
Is Student: True

typr conversion

In [ ]:
age_str = str(age)
height_int = int(height)
print(f"Age as string: {age_str}")
print(f"Height as integer: {height_int}")

Age as string: 22
Height as integer: 5

operator and basic operations

arithmetic *operators*

In [ ]:
a = 10
b = 5
print(f"Addition: {a} + {b} = {a + b}")
print(f"Subtraction: {a} - {b} = {a - b}")
print(f"Multiplication: {a} * {b} = {a * b}")
print(f"Division: {a} / {b} = {a / b}")
print(f"Floor Division: {a} // {b} = {a // b}")
print(f"Modulus: {a} % {b} = {a % b}")

Addition: 10 + 5 = 15
Subtraction: 10 - 5 = 5
Multiplication: 10 * 5 = 50
Division: 10 / 5 = 2.0
Floor Division: 10 // 5 = 2
Modulus: 10 % 5 = 0

order and operations
- p-parenthess
- E-exponents
- m-multiplication
- D-division
- A-addition
- s-substraction

In [ ]:
result = 2 + 3 * 4 ** 2 - 1
print(f"2 + 3 * 4 ** 2 - 1 = {result}")

2 + 3 * 4 ** 2 - 1 = 49

In [ ]:
print(f"{x} == {y}: {x == y}")
print(f"{x} != {y}: {x != y}")
print(f"{x} > {y}: {x > y}")
print(f"{x} < {y}: {x < y}")
print(f"{x} >= {y}: {x >= y}")
print(f"{x} <= {y}: {x <= y}")

5 == 10: False
5 != 10: True
5 > 10: False
5 < 10: True
5 >= 10: False
5 <= 10: True

string operation

In [ ]:
name1 = "alice"
name2 = "bob"
print(f"{name1}' < '{name2}: {name1 < name2}")
print(f"{name1}' > '{name2}: {name1 > name2}")

alice' < 'bob: True
alice' > 'bob: False

logical operators

In [ ]:
p = True
q = False
print(f"p and q: {p and q}")
print(f"p or q: {p or q}")
print(f"not p: {not p}")

p and q: False
p or q: True
not p: False

In [ ]:
# practical examples
age = 20
has_license = True
can_drive = age >= 18 and has_license
print(f"Can Drive: {can_drive}")

Can Drive: True

In [ ]:
# multiple conditions
score = 85
is_present = True
can_pass = score >= 80 or is_present
print(f"Can Pass: {can_pass}")

Can Pass: True

create a calculator the checks if a preson qulifiers foe a loan

In [ ]:
# personal information
age = 25
annual_income = 5000
credit_score = 720
has_collateral = True

In [ ]:
# loan criteria
min_age = 21
min_income = 30000
min_credit_score = 650

In [ ]:
#check qualification
age_qulified = age >= min_age
income_qulified = annual_income >= min_income
credit_score_qulified = credit_score >= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualified

In [ ]:
print("=== loan qualification ===")
print(f"age qualified: {age_qulified}")
print(f"income qualified: {income_qulified}")

=== loan qualification ===
age qualified: True
income qualified: False

data structure

In [ ]:
fruits = ["apple","bananna","orange","grapes"]
numbers = [10,20,30,40,50]
mixed_data = [1,"hello",3.14,True]

In [ ]:
print(f"fruits: {fruits[0]}")
print(f"Last fruit: {fruits[-1]}")
print(f"second to last: {fruits[-2]}")

fruits: apple
Last fruit: grapes
second to last: orange

In [ ]:
print(f"first 2 fruits: {fruits[0:2]}")
print(f"last 2 fruits: {fruits[-2:]}")
print(f"all execpt first {fruits[1:]}")

first 2 fruits: ['apple', 'bananna']
last 2 fruits: ['orange', 'grapes']
all execpt first ['bananna', 'orange', 'grapes']

list methods

In [ ]:
fruits.append("kiwi")
fruits.insert(1,"strawbery")
removed = fruits.pop()
print(f"update list: {fruits}")
print(f"removed: {removed}")

update list: ['apple', 'strawbery', 'bananna', 'orange', 'grapes']
removed: kiwi

In [ ]:
print(f"Length: {len(fruits)}")
print(f"contains 'apple': {'apple' in fruits}")
print(f"Index of 'bananna': {fruits.index('bananna')}")

Length: 5
contains 'apple': True
Index of 'bananna': 2

tupels

In [ ]:
coordinates = (10,20)
rgb_color = (255,128,0)
person_info = ("alice",34,"bca",True)

tuple unpacking

In [ ]:
x, y = coordinates
print(f"X: {x}, Y: {y}")

X: 10, Y: 20

tuple methods

In [ ]:
print(f"count of 25: {person_info.count(25)}")
print(f"Index of 'bca': {person_info.index('bca')}")

count of 25: 0
Index of 'bca': 2