In [ ]:
name="vikas"
print("name",name)

name vikas

basic syntax rule

In [ ]:
print("hello world") #function call
x=5 #variable assignment
y=10 #no need to declare type
print(x,y)

hello world
5 10

numeric type

In [ ]:
age = 25 #int
height = 5.9 #float
complex_num =3+4j #complex

string type

In [ ]:
name="alice"
message='hello'
multiline="""hello
world"""

Boolean type

In [ ]:
is_active=True
is_finished=False

Type casting

In [ ]:
str_number = "123"
int_number = int(str_number)
float_number=float(str_number)
print(f"original:{str_number} (type:{type(str_number)})")
print(f"original:{int_number} (type:{type(int_number)})")
print(f"original:{float_number} (type:{type(float_number)})")

original:123 (type:<class 'str'>)
original:123 (type:<class 'int'>)
original:123.0 (type:<class 'float'>)

Create variable for personal information

In [ ]:
first_name = "vikass"
last_name = "nayakanur"
age = 21
height = 5.9
is_student = True

print formatted information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age:{age}")
print(f"Height:{height}")
print(f"Is student:{is_student}")

Name: vikass nayakanur
Age:21
Height:5.9
Is student:True

type conversion

In [ ]:
age_str =str(age)
height_int = int(height)
print

operator and basic operations

arithmetic opertors

In [ ]:
a=10
b=3
print(f"add:{a} + {b} = {a+b}")
print(f"sub:{a} - {b} = {a-b}")
print(f"mul:{a} * {b} = {a*b}")
print(f"div:{a} / {b} = {a/b}")
print(f"floor division:{a} // {b} = {a//b}")
print(f"modulus:{a} % {b} = {a%b}")
print(f"exponent:{a} ** {b} = {a**b}")

add:10 + 3 = 13
sub:10 - 3 = 7
mul:10 * 3 = 30
div:10 / 3 = 3.3333333333333335
floor division:10 // 3 = 3
modulus:10 % 3 = 1
exponent:10 ** 3 = 1000

order of operation(PEMDAS)
- p-parentheses
- e-exponents
- m-multiplication
- d-division
- a-addition
- s-subtraction

In [ ]:
result =2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

In [ ]:
x=5
y=45
print(f"{x} == {y}:{x==y}")
print(f"{x} != {y}:{x!=y}")
print(f"{x} > {y}:{x>y}")
print(f"{x} < {y}:{x<y}")
print(f"{x} >= {y}:{x>=y}")
print(f"{x} <= {y}:{x<=y}")

5 == 45:False
5 != 45:True
5 > 45:False
5 < 45:True
5 >= 45:False
5 <= 45:True

String operation

In [ ]:
name1="vikas"
name2="bob"
print(f"{name1}'<'{name2}': {name1 < name2}")
print(f"{name1}'>'{name2}': {name1 > name2}")

vikas'<'bob': False
vikas'>'bob': True

Logical operators

In [ ]:
p=True
q=False
print(f"p and q:{p and q}")
print(f"p or q:{p or q}")
print(f"not p:{not p}")

p and q:False
p or q:True
not p:False

In [ ]:
#multiple condition
score=54
is_present = True
can_pass = score >=50 and is_present
print(f"can pass:{can_pass}")

can pass:True

Hands on exercise

In [ ]:
#personal information
age=25
annual_income=50000
credit_score=720
has_collateral=True

In [ ]:
#loan criteria
min_age=18
min_income=30000
min_credit_score=650

In [ ]:
#check qualification
age_qualified = age >= min_age
income_qualified = annual_income >= min_income
credit_qualified = credit_score >= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualified
print(f"age qualified:{age_qualified}")
print(f"income qualified:{income_qualified}")
print(f"credit qualified:{credit_qualified}")
print(f"overall qualified:{overall_qualified}")

age qualified:True
income qualified:True
credit qualified:True
overall qualified:True

list

creating the list

In [ ]:
fruits = ["apple","banana","ornage","grape"]
numbers=[10,20,30,40,50]
mixed_data=[1,"hello",3.14,True]

List indexing

In [ ]:
print(f"first fruits: {fruits[0]}")
print(f"Last fruits: {fruits[-1]}")
print(f"second to last: {fruits[-2]}")

first fruits: apple
Last fruits: grape
second to last: ornage

slicing

In [ ]:
print(f"First 2 fruits:{fru[0:2]}")
print(f"last 2 fruits:{fru[-2:]}")

NameError: name 'fru' is not defined

list methods

In [ ]:
fru = ["apple","banana","ornage","grape"]
fru.append("kiwi")
fru.insert(1,"strawberry")
removed = fru.pop()
print(f"Updated List: {fru}")
print(f"Removed item: {removed}")

tuples

tuples are mutable

In [ ]:
coordinates = (10,20)
rgb_color = (255,128,0)
person_info = ("Alice",25,"Engineer",True)

tuple unpacking

In [ ]:
coordinates = (10,20)
x,y = coordinates
print(f"X: {x}, Y: {y}")

tuple methods

In [ ]:
person_info = ("Alice",25,"Engineer",True)
print(f"count of 25: {person_info.count(25)}")
print(f"Index of 'Engineer': {person_info.index('Engineer')}")

dictonary

In [ ]:
person = {
    "name": "Alice Johnson",
    "age": 23,
    "profession": "software engineer",
    "salary": 70000,
    "skills": ["python","Javascript","sql"]
}

Accesing values

In [ ]:
print(f"Name: {person['name']}")
print(f"Age: {person.get('age','unknow')}")

NameError: name 'person' is not defined

Dictonary menthods

In [ ]:
print(f"keys: {list(person.keys())}")
print(f"values: {list(person.values())}")
print(f"items: {list(person.items())}")

NameError: name 'person' is not defined

Adding and updating

In [ ]:
person["location"] = "New York"
person["salary"] = 8000

inventory management

In [ ]:
inventory = {
    "laptops": {
        "quantity": 100,
        "price":599.99
    },
    "tablets": {
        "quantity": 30,
        "price":399.99
    },
    "phones": {
        "quantity": 50,
        "price":299.99
    }

}

nested acces

In [ ]:
print(f"laptops price: ${inventory['laptops']['price']}")

sets

In [ ]:
colors = {"red","green","blue","red"}
print(f"colors: {colors}")

sets operations

In [ ]:
team1_skills = {"python","javascript","sql","react"}
team2_skills = {"spring","javascript","sql","java"}

common operations

In [ ]:
print(f"common skills: {team1_skills.intersection(team2_skills)}")
print(f"all skills: {team1_skills.union(team2_skills)}")
print(f"team1 only: {team1_skills.difference(team2_skills)}")

adding to sets

In [ ]:
colors.add("yellow")
colors.update(["orange","purple"])
print(f"updated colors: {colors}")

control flow

In [ ]:
def get_grade_letter(score):
  if score >=90:
    return "A"
  elif score >=80:
    return "B"
  elif score >=70:
    return "C"
  elif score >=60:
    return "D"
  else:
    return "F"

test the function

In [ ]:
test_score = [95,83,73,33,44]
for score in test_score:
  grade = get_grade_letter(score)
  print(f"score: {score}, grade: {grade}")

nested condition

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost = 5.0
  if weight <=1:
    weight_cost = 2.0
  elif weight <=5:
    weight_cost = 5.0
  else:
    weight_cost = 10.0

  if distance <= 100:
    distance_cost = 1.0
  elif distance <= 500:
    distance_cost = 2.0
  else:
    distance_cost = 3.0

  return base_cost + weight_cost + distance_cost

test shiping cost

In [ ]:
print(f"Light,close: ${get_shipping_cost(0.5,50)}")
print(f"Heavy,far: ${get_shipping_cost(10,600)}")

Light,close: $8.0
Heavy,far: $18.0

loops
- for loop

In [ ]:
fruits = ["apple","banana","ornage","grape"]
for fruit in fruits:
  print(f"I like {fruit}")

I like apple
I like banana
I like ornage
I like grape

loop with enumerate(get index)

In [ ]:
for day in range(1,8):
  print(f"Day {day} of the week")

Day 1 of the week
Day 2 of the week
Day 3 of the week
Day 4 of the week
Day 5 of the week
Day 6 of the week
Day 7 of the week

In [ ]:
for i, fruit in enumerate(fruits):
  print(f"{i+1}. {fruit}")

1. apple
2. banana
3. ornage
4. grape

nested loop

In [ ]:
print("multiplication table:")
for i in range(1,6):
  for j in range(1,6):
    product = i*j
    print(f"{i} x {j} = {product:2d}",end="")
    print()

multiplication table:
1 x 1 =  1
1 x 2 =  2
1 x 3 =  3
1 x 4 =  4
1 x 5 =  5
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

processing data with loops

In [ ]:
from typing import ItemsView
sales_data = [
    {"product": "Laptop","price": 999, "quantitiy": 5},
    {"product": "phone","price": 499, "quantitiy": 10},
    {"product": "Tablet","price": 299, "quantitiy": 8},
]
total_revenue = 0

for item in sales_data:
  item_revenue = item["price"] * item["quantitiy"]
  total_revenue += item_revenue
  print(f"{item['product']}: ${item_revenue}")
print(f"Total revenue: ${total_revenue}")

Laptop: $4995
phone: $4990
Tablet: $2392
Total revenue: $12377

while loop

In [ ]:
import random

def simple_gueesing_game():
  target = 7
  guess = 0
  attempts = 0
  print("guess the number between 1 and 10!")

  while guess != target:
    guess = random.randint(1,10)
    attempts += 1
    if guess < target:
      print(f"guess {attempts}: {guess} - Too low!")
    elif guess > target:
      print(f"guess {attempts}: {guess} - too high!")
    else:
      print(f"guess {attempts}: {guess} - correct")


    if attempts > 10:
      print("max attempts reached")
      break
  print(f"Game finished in {attempts} attempts")

simple_guessing_game()

NameError: name 'simple_guessing_game' is not defined

while loop

In [ ]:
def process_queue():
  queue = ["task1","task2","task3","task4"]
  while queue:
    current_task = queue.pop(0)
    print(f"processing: {current_task}")
    print(f"remaining tasks: {len(queue)}")
  print("completed")
process_queue()

basic function

In [ ]:
def greet(name):
  return f"Hello, {name}!"

function call

In [ ]:
message = greet("python programmer")
print(message)

function with multiple parameters

In [ ]:
def calculate_area(length,width):
  area = length * width
  return area

test the function

In [ ]:
room_area = calculate_area(12,10)
print(f"room area: {room_area} square feet")

function default parameters

In [ ]:
def create_user_profile(name,age=25,location="unknown",active=True):
  return {
      "name": name,
      "age": age,
      "location": location,
      "active": active
  }

different ways to cell

In [ ]:
profile1 = create_user_profile("alice")
profile2 = create_user_profile("bob",25)
profile3 = create_user_profile("charile",location="new york",age=30)
print(profile1)
print(profile2)
print(profile3)

adavanced functions concepts

In [ ]:
def analyze_text(text):
  word = text.split()
  word_count = len(words)
  char_count = len(text)
  char_count_no_spaces = len(text.replace(" ",""))
  return word_count,char_count,char_count_no_spaces

test with simple testt

In [ ]:
sample_text = "python is a powerful language"
word_count,char_count,char_count_no_spaces = analyze_text(sample_text)
print(f"Text: {sample_text}")
print(f"word count: {word_count}")
print(f"character count: {char_count}")
print(f"character count (no spaces): {char_count_no_spaces}")

variable

In [ ]:
def calculate_average(*number):
  if not number:
    return 0
    return sum(number)/len(number)

text with number

In [ ]:
avg1 = calculate_average(1,2,3,4,5)
avg2 = calculate_average(10,20,30)
avg3 = calculate_average(100)
print(f"average of 1,2,3,4,5: {avg1}")
print(f"average of 10,20,30: {avg2}")
print(f"average of 100: {avg3}")

keyword

In [ ]:
def create_report(**data):
  print("===REPORT===")

  for key,value in data.items():
    print(f"{key.replace('_',' ').title()}: {value}")

    print("==================")

create_report (
   title="monthly sales report",
   date="2023-01-01",
   total_sales=1000,
   new_customer=25,
   returning_customers=150
)

regular function

In [ ]:
def square(x):
  return x ** 2

lambda equlivalent

In [ ]:
square_lambda = lambda x: x ** 2
print(f"regular function: {square(5)}")
print(f"lambda function: {square_lambda(5)}")

In [ ]:
people = [
    {"name": "Alice","age": 30},
    {"name": "Bob","age": 25},
    {"name": "Charlie","age": 35}

]
sorted_people = sorted(people,key=lambda person: person["age"])
print("people sorted by age:")
for person in sorted_people:
  print(f"{person['name']}: {person['age']}")

create array

In [ ]:
import numpy as np
a = np.array([1,2,3,4,5])
b = np.arange(1,6)
c = np.zeros((2,3))
d = np.ones((3,4))

print("array a:",a)
print("array b:",b)
print("2x3 Zeros:",c)
print("3x2 Ones:",d)

basic arithmetic operation

In [ ]:
print("a + 2:", a+2)
print("a+3", a+3)

index and slicing

In [ ]:
print("first element of a:", a[0])
print("last two elements of a:", a[-2])

reshiping array

In [ ]:
matrix = np.arange(1,10).reshape(3,3)
print("reshaped 3x3 matrix:")
matrix

basic static

In [ ]:
print("square of a:", np.square(a))
print("standard deviation:", np.std(a))
print("mean of a:", np.mean(a))

transpose

In [ ]:
print("Transpose:")
matrix.T

boolean indexing

In [ ]:
print("element > 5:",matrix[matrix > 5])

data frame

In [ ]:
import pandas as pd
data = {
    'name' :['Alice','Bob','Charlie','david','eva'],
    'age' : [25,30,22,35,28],
    'department' : ['IT','HR','Finance','IT','HR'],
    'salary' : [50000,55000,60000,65000,70000]
}
df = pd.DataFrame(data)
df

In [ ]:
print("first 3 rows")
df.head(3)

In [ ]:
print("data types:")
df.dtypes

data types:

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked_Q        bool
Embarked_S        bool
dtype: object

In [ ]:
print("describe numerical columns:")
df.describe()

describe numerical columns:

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,0.477990,13.002015,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,1.000000,29.699118,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
print("sorted by age")
df[df['salary'] > 50000]

sorted by age

KeyError: 'salary'

In [ ]:
print("sorted by age:")
df.sort_values(by='age')

In [ ]:
grouped = df.groupby('department')['salary'].mean()
print("average salary by department:")
grouped

In [ ]:
df['salary in lakhs'] = df['salary']/100000
df

In [ ]:
import matplotlib.pyplot as plt

years = [2019,2020,2021,2022,2023]
revenue = [1000,1200,1500,1800,2000]

plt.plot(years,revenue,marker='o',linestyle='--',color='red')
plt.title('company Revenue')
plt.xlabel('Year')
plt.ylabel('Revenue')
plt.xticks(years)
plt.grid(True)
plt.show()

In [ ]:
departments = df['department'].value_counts()
departments.plot(kind='bar',color='red')
plt.title('Department Distribution')
plt.xlabel('Department')
plt.ylabel('Count')
plt.show()

In [ ]:
ages = df['age']
plt.hist(ages,bins=10,color='pink',edgecolor='red')
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Count')
plt.show()

In [ ]:
df.groupby('department').size().plot(kind='pie',autopct='%1.1f%%',colors=['red','green','pink'])
plt.title('Department Distribution')
plt.ylabel("")
plt.show()

In [ ]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips.head()

In [ ]:
sns.boxplot(x='day',y='total_bill',data=tips)
plt.title('boxplot of Total Bill by Day')
plt.show()

In [ ]:
print("\nInfo about the tips dataset:")
tips.info()
print("\nDescription of tips dataset")
tips.describe(include='all')

In [ ]:
print("\nDescription of numerical columns:")
display(tips.describe())
print("\nDescription of categorical columns:")
display(tips.describe(include='category'))

In [ ]:
sns.pairplot(tips,hue='sex')
plt.show()

In [ ]:
corr = tips.corr(numeric_only=True)
sns.heatmap(corr,annot=True,cmap='coolwarm')
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.countplot(x='day',data=tips,,hue='day',)
plt.title('Count of each day')
plt.show()

SyntaxError: invalid syntax (ipython-input-2334197180.py, line 1)

In [ ]:
sns.boxplot(x='day',y='total_bill',data=tips)
plt.title('boxplot of total bill by day')
plt.show()

it can have missing values,wrong formats,different scales or categories that need conversion

handling missing values

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Embarked_Q, Embarked_S]
Index: []

In [ ]:
 # pd.set_option("display.max_rows",none)
df[df['Age'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
df.drop(columns=['Cabin'],inplace=True)

In [ ]:
df['Embarked'].fillna('unknown',inplace=True)
df['Age'].fillna(0,inplace=True)

/tmp/ipython-input-2424854761.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna('unknown',inplace=True)
/tmp/ipython-input-2424854761.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(0,inplace=True)

In [ ]:
df.df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Age'].fillna(df['Age'].median(),inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

AttributeError: 'DataFrame' object has no attribute 'df'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,0.0,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,Q

In [ ]:
df = pd.get_dummies(df,columns=['Embarked'],drop_first=True)
df

KeyError: "None of [Index(['Embarked'], dtype='object')] are in the [columns]"

check null values

In [ ]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [ ]:
import pandas as pd
url="https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv"
df=pd.read_csv(url)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

one hot encode categorical variables

In [ ]:
df_encode=pd.get_dummies(df,drop_first=True)
df_encode.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,False,True,False,False,True
1,18,33.770,1,1725.55230,True,False,False,True,False
2,28,33.000,3,4449.46200,True,False,False,True,False
3,33,22.705,0,21984.47061,True,False,True,False,False
4,32,28.880,0,3866.85520,True,False,True,False,False

featured and target  separation

In [ ]:
x = df_encode.drop('charges',axis=1)
y = df_encode['charges']

feature

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.2,random_state=42)

train linear regression model

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

make prediction

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse = mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)
print("Mean squared error:",mse)
print("Root mean squared error:",rmse)
print("R2 Score:",r2_score(y_test,y_pred))

Mean squared error: 33596915.85136148
Root mean squared error: 5796.284659276275
R2 Score: 0.7835929767120722